---
layout: default
version: 0.0.1
license: AGPL-3.0
author: S0AndS0
---
{% capture workspace__collection_home %}
  {% assign target_collection = site[page.collection_name] %}
  {% assign date_format = site[site.theme].date_format | default: "%b %-d, %Y" %}


  <div class="home">
    {% if page.title %}
      <h1 class="page-heading">{{ page.title }}</h1>
    {% endif %}

    {{ content }}

    {% comment %}
      Builds list of posts
    {% endcomment %}
    {% assign has_output = false %}
    {% assign has_atom_feed = false %}
    {% assign has_rss_feed = false %}
    {% if target_collection.size > 0 %}{% comment %}<br> syntax highlighting  work-around #{% endcomment %}
      {% capture workspace__collection__list %}
        <h2 class="post-list-heading">{{ page.list_title | default: page.collection_name }}</h2>
        <ul class="post-list">
          {% for post in target_collection %}
            {% if page.relative_path == post.relative_path %}
              {% continue %}
            {% elsif post.ext == '.xml' or post.ext == '.rss' %}
              {% assign has_rss_feed = true %}
              {% assign feed_rss_url = post.url %}
              {% continue %}
            {% elsif post.ext == '.atom' %}
              {% assign has_atom_feed = true %}
              {% assign feed_atom_url = post.url %}
              {% continue %}
            {% elsif post.ext == '.json' %}
              {% if post.slug == 'feed' or post.slug == page.collection_name %}
                {% assign has_json_feed = true %}
                {% assign feed_json_url = post.url %}
              {% endif %}
              {% continue %}
            {% endif %}

            {% assign has_output = true %}
            <li>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {% if post.description %}
                <blockquote>
                  {{ post.description | markdownify | remove: '<p>' | remove: '</p>' }}
                </blockquote>
              {% elsif site.show_excerpts and post.excerpt %}
                <blockquote>
                  {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
                </blockquote>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endcapture %}


      {% comment %}
        Note for future _includes/header.html modifications

        <link
         rel="alternate"
         title="{{ page.collection_name }}"
         type="application/atom+xml"
         href="{{ page.collection_name | append: '/feed.atom' | relative_url }}"
        />
      {% endcomment %}


      {% comment %}
        Builds output for workspace__collection_home
      {% endcomment %}
      {% if has_output %}
        {{ workspace__collection__list }}{% assign workspace__collection__list = nil %}

        {% if has_rss_feed or has_atom_feed or has_json_feed %}
          <p class="feed-subscribe">
            {% if has_rss_feed %}
              <span>
                <svg class="svg-icon orange">
                  <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                </svg>
                <a href="{{ feed_rss_url | relative_url }}">RSSv2</a>
                {% assign feed_rss_url = nil %}
              </span>
            {% endif %}

            {% if has_atom_feed %}
              <span>
                {% if has_rss_feed != true %}
                  <svg class="svg-icon orange">
                    <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                  </svg>
                {% else %}
                  or
                {% endif %}
                <a href="{{ feed_atom_url | relative_url }}">Atom</a>
                {% assign feed_atom_url = nil %}
              </span>
            {% endif %}

            {% if has_json_feed %}
              <span>
                {% if has_rss_feed or has_atom_feed %}
                  or
                {% elsif has_rss_feed != true and has_atom_feed != true %}
                  <svg class="svg-icon orange">
                    <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                  </svg>
                {% endif %}
                <a href="{{ feed_json_url | relative_url }}">JSON</a>
                {% assign feed_json_url = nil %}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %}

    {% endif %}
  </div>
{% endcapture %}{{ workspace__collection_home | strip | strip_newlines }}{% assign workspace__collection_home = nil %}
{% comment %}
  vim:filetype=liquid
{% endcomment %}
